.time-list {
    list-style-type: decimal;
}

.panel {
    padding-top: 20px;
    padding-bottom: 20px;
}

.video {
    width: 100%;
    height: auto;
}

.beep {
    display: none;
}

.play-button {
    padding: 20px 60px;
}