.time-list {
    list-style-type: decimal;
}

.panel {
    padding-top: 20px;
    padding-bottom: 20px;
}

.video {
    max-width: 420px;
    max-height: 360px;
}

.video-container {
    max-width: 420px;
    max-height: 360px;
    margin: 0 auto;
}

.beep {
    display: none;
}

.play-button {
    padding: 20px 60px;
}